#calculadorapafi  { 
    
    margin-top: 10%;
    margin-left: 30%;
    
}
#tablaresultados{
    width: 450px;
    margin-top: 5%;
    margin-left: 30%;
}
h5{
    text-align: center;
}
#botones {
     
    
    margin-left: 30%;
    margin-right: 30%;
    

}
.btn-success{
    background-color:#0FB989 !important;
    border-color: #42A5F5 !important;
    background-image: none !important;
    border: 0 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff !important;
    background-color:#56E2A0  !important;
    
    border-top-style: solid !important;
    border-color: black !important;
}
