#calculadorapafi  { 
    
    margin-top: 10%;
    margin-left: 30%;
    
}
#tablaresultados{
    width: 450px;
    margin-top: 5%;
    margin-left: 30%;
}
h5{
    text-align: center;
}
#botones {
     
    
    margin-left: 30%;
    margin-right: 30%;
    

}
button{
    margin-bottom: 40px;
}
button :hover{
    color: brown;
}

